image: gradle:alpine

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
- export GRADLE_USER_HOME=`pwd`/.gradle

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
  - build
  - .gradle

build:
  stage: build
  script:
  - gradle --build-cache shadowJar
  artifacts:
    paths:
    - build/libs/*.jar
    expire_in: 1 week

test:
  stage: test
  script:
  - gradle check
  - gradle dokka
  - gradle jacocoTestReport
  - cat build/reports/jacoco/test/html/index.html
  artifacts:
    paths:
    - build/dokka/-craftlin/*
    expire_in: 1 week
  
deploy:
  stage: deploy
  image: ubuntu:xenial
  only: [master]
  script:
  - apt-get update && apt-get -y install sshpass
  - echo "Removing old docs..."
  - sshpass -p $PASSWORD ssh -oStrictHostKeyChecking=no -p 531 www@company.libter.pl rm -rf /var/www/craftlin/docs/*
  - echo "Uploading new docs..."
  - sshpass -p $PASSWORD scp -P 531 -r build/dokka/-craftlin/* www@company.libter.pl:/var/www/craftlin/docs